#menulogo{
height: auto;
width: 80px;
}
.scroll::-webkit-scrollbar{
    display: none;
}
.scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
@media only screen and (max-width: 600px) {
    #menulogo{
        height: auto;
        width: 50px;
        }
}